name: Run CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }} testing env
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Test
      run: cd tests && bash run_tests.sh

    strategy:
      matrix:
        python-version: [2.7, 3.6, 3.7, 3.8, 3.9]
